---
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout title="Ravlyk Studio">
  <section class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <!-- Відео на фоні -->
    <div class="absolute inset-0 z-[-1] overflow-hidden">
      <video
        class="w-full h-full object-cover"
        autoplay
        muted
        loop
        playsinline
      >
        <source src="/videos/about-section1-aac.mp4" type="video/mp4" />
      </video>
      <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    </div>

    <!-- Контент поверх відео -->
<div class="absolute top-0 left-0 z-10 flex flex-col items-start sm:p-8 p-4 max-w-xs">
  <img src="/images/logo_name.png" alt="Diana Ravlyk" class="w-56 h-auto mb-4 drop-shadow-md" style="image-rendering: auto;"/>
</div>
  </section>
</BaseLayout>


