---
import BaseLayout from '../layouts/BaseLayout.astro';
import ServiceItem from '../components/ServiceItem.astro';
import { services } from '../data/services.js';



---

<BaseLayout title="Наші послуги">
  <section class="container mx-auto px-4 py-12">
    <h1 class="text-4xl text-white font-light mb-12 text-center">Наші послуги</h1>

    {services.map((s) => (
      <ServiceItem {...s} />
    ))}
  </section>
</BaseLayout>
