---
const { title } = Astro.props;
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import ItemCard from '../components/ItemCard.astro';
import { courses } from '../data/courses.js';
import "../styles/global.css";


const isHome = Astro.url.pathname === '/';
---

<html lang="uk">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ravlyk Studio — фарбування, стрижки та навчання | Червоноград</title>
<meta name="description" content="Ravlyk Studio — студія фарбування, стрижок і навчання для перукарів у Червонограді. Професійні послуги та авторські курси від майстрів-практиків." />
<meta name="keywords" content="перукар Червоноград, стрижка Червоноград, фарбування волосся, навчання перукарів, Ravlyk Studio, завивка, прикореневий обʼєм" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">

</head>
<body class="bg-black text-white">
  {isHome ? <Nav /> : <Header />}
  <main class="min-h-screen">
    <slot />
  </main>
  {!isHome && <Footer />}
</body>
</html>

